.main_boby .content .returnSuperior {
  padding-left: 80px;
  line-height: 60px;
}
.main_boby .content .returnSuperior a {
  color: #10d1a0;
  font-size: 14px;
}
.main_boby .content .contentcon {
  width: 900px;
  margin: auto;
  position: relative;
}
.main_boby .content .contentcon > h1 {
  font-size: 24px;
  font-weight: bold;
  color: #666666;
}
.main_boby .content .contentcon > h1 span {
  font-weight: 300;
  color: #ffffff;
  background: #0fc99a;
  display: inline-block;
  padding: 3px 8px;
  font-size: 14px;
  border-radius: 5px;
  margin-left: 10px;
}
.main_boby .content .contentcon > h1 span.recommend {
  border: 1px solid #ff3300;
  color: #ff3300;
  background: #ffffff;
}
.main_boby .content .contentcon > p {
  font-size: 14px;
  color: #999999;
  line-height: 36px;
}
.main_boby .content .contentcon > .imageText .recomm {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: #666666;
  margin: 16px auto;
}
.main_boby .content .contentcon > .imageText .maintext {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  margin: 20px auto;
  display: block;
}
.main_boby .content .contentcon > .imageText .addition {
  color: #999999;
  margin-top: 40px;
  display: block;
}
.main_boby .content .contentcon > .imageText .addition .shoucang1 {
  float: right;
  margin: auto 10px;
}
.main_boby .content .contentcon > .imageText .addition .shoucang1 i {
  color: #ffb400;
}
.main_boby .content .contentcon > .imageText .addition .xihuan {
  float: right;
  margin: auto 10px;
}
.main_boby .content .contentcon > .imageText .addition .xihuan i {
  color: #ff3300;
}
.main_boby .content .operation {
  text-align: center;
  width: 900px;
  margin: 60px auto 100px;
}
.main_boby .content .operation button {
  border: none;
  background: #10d1a0;
  height: 36px;
  width: 120px;
  text-align: center;
  line-height: 36px;
  color: #ffffff;
  border-radius: 3px;
  margin: 0 4px;
  font-size: 20px;
}
.main_boby .content .commentArea {
  width: 900px;
  margin: auto;
  margin-bottom: 80px;
}
.main_boby .content .commentArea .switch {
  color: #999999;
  cursor: pointer;
}
.main_boby .content .commentArea .Level1Comment {
  margin: 20px auto;
  width: 100%;
  display: none;
}
.main_boby .content .commentArea .Level1Comment .responder {
  color: #333333;
  line-height: 40px;
}
.main_boby .content .commentArea .Level1Comment .responder img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.main_boby .content .commentArea .Level1Comment .responder span {
  display: inline-block;
}
.main_boby .content .commentArea .Level1Comment .responder .commentTime {
  float: right;
  color: #999999;
}
.main_boby .content .commentArea .Level1Comment .commentcon {
  padding-left: 50px;
  color: #333333;
  line-height: 24px;
  font-size: 14px;
}
.main_boby .content .commentArea .Level1Comment .commentcon .addition {
  color: #999999;
}
.main_boby .content .commentArea .Level1Comment .commentcon .addition .shoucang1 {
  float: right;
  margin: auto 10px;
}
.main_boby .content .commentArea .Level1Comment .commentcon .addition .shoucang1 i {
  color: #ffb400;
}
.main_boby .content .commentArea .Level1Comment .commentcon .addition .xihuan {
  float: right;
  margin: auto 10px;
}
.main_boby .content .commentArea .Level1Comment .commentcon .addition .xihuan i {
  color: #ff3300;
}
.main_boby .content .commentArea .Level1Comment .commentcon .Level2Comment {
  margin: 20px auto;
  width: 100%;
}
.main_boby .content .commentArea .Level1Comment .commentcon .Level2Comment .responder {
  color: #333333;
  line-height: 40px;
}
.main_boby .content .commentArea .Level1Comment .commentcon .Level2Comment .responder img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.main_boby .content .commentArea .Level1Comment .commentcon .Level2Comment .responder span {
  display: inline-block;
}
.main_boby .content .commentArea .Level1Comment .commentcon .Level2Comment .responder .commentTime {
  float: right;
  color: #999999;
}
.main_boby .content .commentArea .Level1Comment .commentcon .Level2Comment .commentcon {
  padding-left: 50px;
  color: #333333;
  line-height: 24px;
  font-size: 14px;
}
.main_boby .content .commentArea .Level1Comment .commentcon .Level2Comment .commentcon .addition {
  color: #999999;
}
.main_boby .content .commentArea .Level1Comment .commentcon .Level2Comment .commentcon .addition .xihuan {
  float: left;
  margin: auto 10px;
}
.main_boby .content .commentArea .Level1Comment .commentcon .Level2Comment .commentcon .addition .xihuan i {
  color: #ff3300;
}
.clearfix::after {
  visibility: hidden;
  display: inline-block;
  clear: both;
  height: 0;
  content: ".";
}
.clearfix {
  zoom: 1;
  vertical-align: top;
}
