.main_boby .content {
  width: 100%;
  display: block;
}
.main_boby .content .content_top .wallet {
  width: 100%;
  height: 320px;
  background: url(../images/project_management.png) no-repeat;
  text-align: center;
}
.main_boby .content .content_top .listAndAdd {
  text-align: center;
}
.main_boby .content .content_top .listAndAdd button {
  border: solid 1px #10cf9e;
  background: #ffffff;
  height: 86px;
  width: 372px;
  text-align: center;
  line-height: 86px;
  color: #10cf9e;
  border-radius: 5px;
  margin: 25px 34px;
  font-size: 24px;
  font-weight: bold;
}
.main_boby .content .content_bottom {
  border-top: #f5f5f5 12px solid;
}
.main_boby .content .content_bottom h1 {
  border-bottom: #f5f5f5 1px solid;
  font-size: 20px;
  font-weight: bold;
  color: #666666;
  line-height: 80px;
  padding-left: 96px;
}
.main_boby .content .content_bottom .listArea {
  width: 75%;
  margin-left: 96px;
  margin-bottom: 360px;
}
.main_boby .content .content_bottom .listArea table {
  text-align: center;
  font-size: 14px;
  width: 1200px;
}
.main_boby .content .content_bottom .listArea table thead tr {
  height: 65px;
}
.main_boby .content .content_bottom .listArea table thead tr td {
  color: #999999;
  font-weight: bold;
}
.main_boby .content .content_bottom .listArea table tbody tr {
  height: 65px;
}
.main_boby .content .content_bottom .listArea table tbody tr td {
  color: #333333;
}
